.form {
    transition: display 0.3s ease-in;
}

.alert {
    transition: opacity .4s ease-in;
} 

@media (min-width: 768px) {
    .register-dialog {
        max-height: 65% !important;
    }
    .login-dialog {
        max-height: 50% !important;
    }
}
