@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #fcfbfa;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

.faq-container {
    position: absolute;
    top: 20%;
    width: 600px;
    background-color: #FDB927;
    border-radius: 5px;
    padding: 2em 4em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.header {
    margin-bottom: 2em;
    color: #552583;
}

.question {
    cursor: pointer;
    background-color: #552583;
    color: #FDB927;
    padding: 0.3em 2em;
    margin: 1em 0;
    border-radius: 5px;
    letter-spacing: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    position: relative;
    text-align: start;
}

.visible {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.fa-plus-square {
    cursor: pointer;
}

.hidden {
    display: none;
}

.active {
    display: block;
    border-top: 1px solid #FDB927;
    padding-top: 1.5em;
}