

#input::placeholder {
    font-size: 16px !important;
}

.row {
    min-height: 150px !important;
    z-index: 2;
}

#main-container {
    height: 350px;
    font-family: inherit;
}

#mapid { 
    height: 500px;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    .input-group {
        max-width: 50%;
    }
    .col-lg-3 {
        text-align: left !important;
    }
}

@media only screen and (max-width: 768px) {
    .col-lg-3 {
        text-align: center !important;
    }
}

@media only screen and (max-width: 992px) {
    .row {
        flex-direction: column;
    }
}