@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  --red: #d8262c;
  --blue: #2a6bec;
  --green: #14b88f;
  --black: #393e46;
  --orange: #ff9500;
}

html, body {
  padding: 0;
  margin: 0;
}



body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wallet-img {
  width: 80px;
  height: 80px;
  margin-bottom: 2em;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 1em 0;
}

.container {
  width: 100vw;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
}
/* Main */
.main {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 5px rgba(0,47,77,0.1);
}

/* Add Expense Button */
.add-new-expense-btn {
  width: 200px;
  font-size: 1.1em;
  padding: .125em 1.5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2em;
  border: 2px solid #16c79a;
  background-color: transparent;
  color: #16c79a;
  cursor: pointer;
  border-radius: 20px;
}

.add-new-expense-btn:hover {
  background-color: #16c79a;
  color: #fff;
}

.add-new-expense-btn:active {
  transform: scale(0.98);
}

/* Expense Form */

.expense-form {
  width: 70%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--green);
  border-top: 1px solid rgb(209, 209, 209);
  box-shadow: 1px 1px 2px 3px rgba(0,47,77,0.1);
  margin-bottom: 2em;
  border-radius: 5px;
  padding: .5em 3em;
}

.active {
  display: flex;
}

.form-icons {
  margin: 0.5em 0;
}
button {
  padding: 0;
}
.form-icon-btn {
  font-size: 2em;
  padding: .25em .5em;
  background-color: transparent;
  border: none;
  transition: transform 0.1s ease;
}

.form-icon-btn i {
  width: 24px;
  height: 24px;
}



.form-icon-btn:hover {
  border-radius: 50%;
  transform: scale(1.5);
}

.form-icon-btn:active {
  transform: scale(1.5);
}
.form-icon-btn:focus {
  border-radius: 50%;
  transform: scale(1.5);
}

.focus {
  border-radius: 50%;
  transform: scale(1.5);
}

select {
  text-align: center;
  text-align-last: center;
}
option {
  text-align: center;
  text-align-last: center;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.expense-form input,
select,
option {
  width: 60%;
  max-width: 200px;
  font-family: inherit;
  text-align: center;
  border: 1px solid var(--green);
  outline: var(--red);
  border-radius: 10px;
  padding: 0.25em 0.5em;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: 1em;
  margin-top: .375em;
}

.expense-form-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 1px solid rgb(182, 182, 182);
}

.save-expense-btn,
.close-expense-btn {
  margin: 0 0.25em;
  padding: 0.075em 0.5em;
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--red);
  margin-top: 0.2em;
  border-radius: 5px;
}

.save-expense-btn {
  width: 70px;
  background-color: var(--green);
  color: #fff;
  border: 1px solid var(--green);
  transition: width 0.2s ease-in-out;
}

.save-expense-btn:hover {
  width: 80px;
}

.save-expense-btn:active,
.close-expense-btn:active {
  transform: scale(0.98);
}

/* Expenses container */

.expenses-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense {
  margin-bottom: 1em;
  width: 70%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0em 2em;
  letter-spacing: 1px;
  font-size: 1.3rem;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 3px 3px rgba(132,189,201,0.2);
  transition: box-shadow 0.4s ease;
  border-radius: 10px;
}
.expense:hover {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px rgba(132,189,201,0.5);
}

.expense-description-price,
.expense-category-date {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5em;
  font-weight: 400;
  font-size: .9em;
}

.expense-description-price p {
  text-transform: lowercase;
}

.expense-description-price p::first-letter {
  text-transform: uppercase;
}




.expense-price {
  max-width: 80px;
  text-align: center;
  border: none;
  letter-spacing: 2px;
  background-color: transparent;
}

.expense-date {
  opacity: 0.5;
  font-size: .9em;
  letter-spacing: normal;
}

.edit-del-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}


.edit-del-btn {
  margin: 0 .750em;
  background-color: transparent;
  border: none;
}

.edit-btn {
  color: var(--blue);
}

.del-btn {
  color: var(--green);
}

/* Left side */
.aside-left {
  min-width: 411px;
  width: 20%;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Right side */
.aside-right {
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 1em;
}

body > div > aside > h1 {
  color: var(--black);
  width: 100%;
  padding: .5em 0;
  letter-spacing: 2px;
  font-size: 2em;
  text-align: center;
}

.prihodi-rashodi {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  border-bottom: 1px solid rgb(219, 219, 219);
  padding-bottom: 2em;
}

.prihodi,
.rashodi {
  padding-top: .75em;
  width: 90%;
  display: flex;
  justify-content: space-between;
}



label[for="prihodi"],
label[for="rashodi"] {
  letter-spacing: 1px;
}

#prihodi,
#rashodi {
  width: 80px;
  border: none;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  font-weight: 400;
  font-size: 1em;
  color: var(--black);
}

#prihodi:focus,
#rashodi:focus {
  outline: none;
}

.categories-section {
  width: 100%;
  margin-top: 1em;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2em;
  gap: 2em;
}

body > div > aside > div.categories-section > h3 {
  width: 90%;
  color: var(--red);
  font-weight: 400;
  letter-spacing: 2px;
}

.category {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-btn {
  width: 20%;
  padding: 0.2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(124, 124, 124);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fas {
  pointer-events: none;
}

body
  > div
  > aside.aside-right
  > div.categories-section
  > div
  > div
  > button
  > p {
  font-size: 0.8em;
  letter-spacing: 1px;
  color: var(--black);
  font-weight: 300;
  margin-top: .2em;
}

.category-bars {
  width: 70%;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.first-bar {
  width: 20%;
  background-color: var(--blue);
}
.second-bar {
  width: 50%;
  background-color: var(--red);
}
.third-bar {
  width: 20%;
  background-color: var(--orange);
}
.fourth-bar {
  width: 10%;
  background-color: var(--green);
}

body
  > div
  > aside.aside-right
  > div.categories-section
  > div
  > div
  > button
  > i {
  font-size: 2em;
}

.fa-utensils {
  color: var(--blue);
}

.fa-file-invoice-dollar {
  color: var(--red);
}

.fa-suitcase-rolling {
  color: var(--orange);
}

.fa-heart {
  color: var(--green);
}

/* Mobile Footer NavBar */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--red);
  display: none;
}

body > div > main > div > div > div.expense-category-date > i {
  font-size: 1.5em;
  background-color: transparent;
  border: none;
}

/* Media queries */

@media only screen and (max-width: 1500px) {
  .aside-left {
    height: 100%;
  }

  .aside-right {
    width: 20%;
    min-width: 300px;
  }

  .expense-form {
    width: 90%;
  }

  .expense-form input,
  select,
  option {
    width: 60%;
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    align-items: stretch;
  }
  .main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }

  .aside-left {
    height: 100%;
    display: none;
  }
  .aside-right {
    width: 20%;
    min-width: 300px;
    display: none;
  }


  .footer {
    display: flex;
  }

  .mobile-nav-btn,
  body > footer > button.expenses-btn.mobile-nav-btn > i {
    font-size: 1.375em;
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .expense {
    font-size: .9em;
    letter-spacing: normal;
  }

  .expense-form {
    width: 100%;
  }

  .expense-form input,
  select,
  option {
    width: 100%;
    font-size: 0.9em;
  }

  
}
