
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100px;
    margin-bottom: 60px;

}

.box-1, .box-2 {
    background-color: #DADADA;
    height: 100%;
    margin: 0 .5rem;
    display: flex;
    border-radius: 0px 0px 5px 5px;
}

.box-1 {
    min-width: 200px;
}

.box-2 {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

h3 {
    color: #fff;
    padding: 0 9rem;
    font-weight: 400;
}

.grid {
    width: 80%;
    max-width: 1400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.rows {
    max-width: 1088px;
    height: 100%;
    margin-bottom: 3rem;
    transform: translateX(-100px);
}



.top-row, .bottom-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: 1.5rem .75rem;
    transition: opacity .1s ease-in-out;
}


.top-row > *, .bottom-row > * {
    max-width: calc(100% / 6);
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin: 8px 4px;
}




.arrows {
    position: absolute;
    bottom: 20%;
    right: 35%;
    max-width: 128px;
    display: flex;
    flex-direction: column;
}

.arrow-btn {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-gray {
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
}

.btn-gray:active {
    transform: scale(0.98);
}

.btn-blue {
    border: 1px solid #134880;
}

.btn-blue:active {
    transform: scale(0.98);
}



.right-copy {
    max-width: 20%;
}



.right-copy-header {
    font-family: Source Sans Pro;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: flex-end;
letter-spacing: -0.2px;
color: #134880;
margin-bottom: 2rem;
}

footer {
    width: 50%;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
    background-color: #DADADA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    border-radius: 5px 5px 0px 0px;
}



@media only screen and (max-width: 1465px) {

    .rows {
        margin-bottom: 0;
        transform: translateX(0);
    }

    .arrows {
        position:unset;
        max-width: 128px;
        display: flex;
        flex-direction: row;
        margin-bottom: 4rem;
    }
    .btn-gray {
        border: 1px solid #DDDDDD;
        margin-bottom: 0px;
        margin-right: 10px;
    }
    .grid {
        min-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-row, .bottom-row {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .right-copy {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        padding: 0 .5rem;
    }
    .right-copy-header {
        width: 280px;
    }
    
    
}



@media only screen and (max-width: 576px) {


    header {
        min-width: 100%;
    }
    
    .top-row, .bottom-row {
        justify-content: center;
        transform: translateX(0px);
    }

    .grid {
        min-width: 100%;
    }

    .arrows {
        flex-direction: row;
    }

    .btn-gray {
        border: 1px solid #DDDDDD;
        margin-bottom: 0px;
        margin-right: 10px;
    }

    .top-row > *, .bottom-row > * {
        max-width: calc(100% / 7);
    }

    h3 {
        color: #fff;
        padding: 0 .5rem;
        font-weight: 400;
        text-align: center;
    }
    .right-copy {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        padding: 0 .5rem;
    }
    .right-copy-header {
        width: 280px;
    }

    footer {
        width: 100%;
    }
    /* slider-image-1 */


}
