.form-control:focus {
    box-shadow: 0 0 0 0 !important;
}

.dropdown-menu {
    min-width: 0px;
}

.card-img-top {
    width: 100%;
    height: calc(1080px / 8);
    object-fit: cover;
}

.card {
    cursor: pointer;
}

.dropdown-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgba(0, 0, 0, .1);
}

.card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.border-btn {
    max-width: 64px;
}

#mapid { 
    width: 100%;
    height: 100%; 
    min-height: 650px;
}

.lg-item {
    border: none;
    padding: .5rem 0;
} 

@media only screen and (max-width: 768px) {
    .col-md-6 {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .cards-div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .country-info {
        flex-direction: column;
    }

    .rightside-info {
        margin-top: 3rem;
        margin-left: 0rem !important;
    }

    .border-countries {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .border-countries-btns {
        margin-left: 0 !important;
        margin-top: 1rem !important;
    }

    /* .btn {
        margin: 0 !important;
        margin-right: 1rem !important;
    } */

    #country-container > div.col-md-6.py-5.ps-5 > div.border-countries.d-flex.justify-content-start.align-items-center.pt-5 > div.border-countries-btns.ms-5 > div > button:last-of-type {
        margin-right: 0 !important;
    }
}